body {
  background-color: lightgray;
}

.container {
  box-sizing: border-box;
  width: 350px;
  height: 330px;
  background-color: #fff;
  margin: 30px auto;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(134, 130, 130);
}

.logo {
  width: 120px;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 3px dotted gray;
}

.title {
  text-align: center;
  border-bottom: 2px solid #ccc;
  width: 100px;
  margin: 10px auto;
}

.desc {
  text-align: center;
}

.social {
  background-color: lightgray;
  height: 60px;
  text-align: center;
}

.social img {
  width: 40px;
  margin: 10px;
}

.social a {
  text-decoration: none;
}
